<%- include("partials/header.ejs") %>
<body>


    <h1> Quote Finder </h1>
      <form action="/searchByKeyword">
        Keyword: 
        <input type="text" name="keyword">
        <button>Search by Keyword</button>
      </form>
      <br><p></p>
      
      <form action="/searchByAuthor">
        <select name="authorId">
          <% for (author of authors) { %>
            <option value="<%=author.authorId%>">
              <%=author.firstName%> <%=author.lastName%>
            </option>
            <% } %>
        </select>
        <button>Search by Author</button>
      </form>
      <br><p></p>

      <form action="/searchByCategory">
        <select name="category">
          <% for (quote of quotes) { %>
            <option value="<%=quote.category%>">
              <%=quote.category%>
            </option>
            <% } %>
        </select>
        <button>Search by Category</button>
      </form>

      <form action="/searchByLikes">
        <input id="lower" name="lower" type="number">
        <input id="upper" name="upper" type="number">
        <button id="searchByLikes">Search by Likes</button>
        <div id="likesFb"></div>
      </form>
   
      <%- include("partials/footer.ejs") %>
</body>
</html>